.slider-wrapper {
    position: relative;
    // width: 100%;
    padding: 0 52px; // space for arrows
}

.cards-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 30px 0;
    scrollbar-width: none; // hide scrollbar (Firefox)
}

.cards-container::-webkit-scrollbar {
    display: none; // hide scrollbar (Chrome)
}

.card {
    width: 285px;
    background: white;
    flex-shrink: 0;
    border: 2px solid #9f9f9f;
    transition: transform .2s;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .image-wrap {
        img {
            width: 100%;
            height: 194px;
        }
    }

    .content-wrapper {
        padding: 25px 16px 10px 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        .content-wrap {
            position: relative;
            display: flex;
            flex-direction: column;

            .card-header {
                color: #5c2d91;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 2px;
            }

            .card-content {
                font-size: 16px;
                padding: 5px 0px;
                font-weight: 400;
            }

            .card-date {
                font-size: 16px;
                color: #656565;
                font-weight: 400;
            }
        }

        .card-footer {
            padding-top: 15px;
            font-size: 16px;
            font-weight: 400;
            display: flex;
            flex-direction: column;

            .card-footer-read {
                color: #656565;
            }

            .card-footer-category {
                color: #5c2d91;
            }
        }
    }
}

.card:hover {
    transform: translateY(-30px);
    background: #e0ad39;

    .content-wrapper {
        .content-wrap {

            .card-header,
            .card-date {
                color: #fff;
            }
        }

        .card-footer {
            .card-footer-read {
                color: #000;
            }

            .card-footer-category {
                color: #fff;
            }
        }
    }
}

/* Arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #ffffffdd;
    border: none;
    font-size: 26px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
}

.left {
    left: 5px;
    background: #e4b752;
    color: #fff;
}

.right {
    right: 5px;
    background: #e4b752;
    color: #fff;
}

/* IMAGE OVERLAY */
.card .image-wrap {
    position: relative;
    height: 194px;
}

.card .image-wrap::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(239, 213, 155, 0);
    /* #efd59b */
    transition: background-color 0.3s ease;
}

.card:hover .image-wrap::after {
    background-color: rgba(239, 213, 155, 0.6);
}

/* CONTENT OVERLAY */
// .card .content-wrap {
//   position: relative;
//   padding: 16px;
// }

/* create overlay */
.card .content-wrap::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(224, 173, 57, 0);
    /* #e0ad39 */
    transition: background-color 0.3s ease;
    pointer-events: none;
}