<div class="slider-wrapper">

    <!-- Left Arrow -->
    <button class="arrow left bg-gold" (click)="scrollLeft()">
        ‹
    </button>

    <!-- Cards container -->
    <div class="cards-container" #scrollContainer (scroll)="checkArrows()">
        @for (c of cards; track $index) {
        <div class="card">
            <div class="image-wrap">
                <img [src]="c.image" />
            </div>
            <div class="content-wrapper">
                <div class="content-wrap">
                    <span class="card-header">{{ c.title }}</span>
                    <span class="card-content">{{ c.subtitle }}</span>
                    <span class="card-date">{{ c.date }}</span>
                </div>
            
                <div class="card-footer">
                    <span class="card-footer-read">Read more in</span>
                    <span class="card-footer-category"> {{c.category}} >> </span>
                </div>
            </div>
        </div>
        }
    </div>

    <!-- Right Arrow -->
    <button class="arrow right bg-gold" (click)="scrollRight()">
        ›
    </button>

</div>