/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  // align-items: center;
  // padding: 10px 20px;
  z-index: 9999;
  box-sizing: border-box;
  flex-direction: column;
}

.header-block {
  display: flex;
  justify-content: space-between;
  padding: 15px 80px 10px 100px;
}

.header-bottom-border {
  background-image: url(../../.././../assets/header/header-bottom-border.png);
    background-size: 100% auto; // width = 100%, height scales automatically
    background-repeat: no-repeat;
    background-position: top center;
    height: 18px;
}

/* LOGO */
.logo img {
  height: 40px;
  cursor: pointer;
}

/* RIGHT SECTION */
.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  flex-wrap: nowrap;
}


.hamburger-menu {
  position: relative;
  font-size: 16px;
}

.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
  position: absolute;
  right: 0;
  display: none;
  width: 350px;
  border-radius: 6px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
  top: 25px;
  max-height: 80vh;
  overflow-y: auto;
}

.hamburger-menu:hover .dropdown {
  display: block;
}

.dropdown-item {
  border-bottom: 1px solid #eee;
}

.parent-link {
  padding: 10px 14px;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #5c2d91;
  font-weight: 400;
  letter-spacing: .5px;
}

.parent-link:hover {
  color: #ae84e8;
}

/* SUBCATEGORY AREA */
.sub-dropdown {
  list-style: none;
  padding: 0;
  border-top: 1px solid #eee;
  margin: 0px 15px 0px 35px;
}

.sub-dropdown li a {
  display: block;
  padding: 9px 14px;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .5px;
  cursor: pointer;
}

.sub-dropdown li a:hover {
  color: #ae84e8;
}

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  padding: 10px 14px;
  cursor: pointer;
  .category-down {
    color: #5c2d91;
  }
}

.category-item:hover {
  background: #f8f8f8;
}
