<header class="header">
  <div class="header-block">
    <div class="logo" [routerLink]="languageService.isEnglish() ? '/' : '/hi'">
      <img src="../../../../assets/logo/header-logo.png" alt="Logo" />
    </div>

    <div class="right-section">
      <div class="search-container">
        <app-search-dropdown></app-search-dropdown>
      </div>

      <div class="lang-toggle" tabindex="0" (click)="languageService.toggle()" (keydown.enter)="languageService.toggle()">
        <div class="slider" [class.right]="languageService.lang() === 'hi'"></div>
      
        <span [class.active]="languageService.lang() === 'en'">EN</span>
        <span [class.active]="languageService.lang() === 'hi'">हिंदी</span>
      </div>


      <div class="hamburger-menu">
        <div (mouseenter)="resetMenu()">
          <ng-icon name="heroBars3" size="30" class="icon menu-icon"></ng-icon>
        </div>

        <ul class="dropdown">
          @for (item of menu; track $index) {
          @if (item.id !== '14') {
          <li class="dropdown-item">
            <div class="category-item" (click)="decideNavigateOrExpand(item)">
              <a class="parent-link">
                 @if(languageService.isEnglish()) {
                 {{item.title}}
                } @else { 
                  <b>{{ item.hindiTitle }} </b>
                }
              </a>
              @if (item.subCategoryList.length) {
              @if (item.isOpen) {
              <ng-icon name="heroChevronUp" size="20" class="category-down"></ng-icon>
              } @else {
              <ng-icon name="heroChevronDown" size="20" class="category-down"></ng-icon>
              }
              }
            </div>

            @if (item.isOpen && item.subCategoryList.length) {
            <ul class="sub-dropdown">
              @for (child of item.subCategoryList; track $index) {
              <li>
                <a (click)="decideNavigateOrExpand(child)">&bull;&nbsp;&nbsp;{{ child.title }}</a>
                @if (child.innerCategories?.length) {
                <ul class="sub-sub-dropdown">
                  @for (subChild of child.innerCategories; track $index) {
                  <li>
                    <a (click)="decideNavigateOrExpand(subChild)">&bull;&nbsp;&nbsp;{{ subChild.title }}</a>
                  </li>
                  }
                </ul>
                }
              </li>
              }
            </ul>
            }

          </li>
          }
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="header-bottom-border"></div>
</header>