<div>
    <app-home-banner></app-home-banner>

    <div class="home-text-wrapper">
        <div class="home-text">
            <p>
                <span class="font-weight-bold">Saheli</span> Saheli was set up in 1981 in New Delhi, India, primarily as
                a crisis intervention centre. Early
                struggles
                against oppression and violence within marriage, family and community led to campaigns against dowry,
                domestic
                violence, rape, sexual harassment, communalism, war and discrimination against women in the law. Our
                work on
                women's health includes long standing campaigns against coercive population control policies, hazardous
                contraceptives, sex-determination, the unethical sale of emergency contraceptives and vaccines against
                cervical
                cancer. Increasing conservatisms, militarisation, globalisation and state repression are some of the
                other
                challenges we meet jointly with queer, dalit, adivasi and democratic rights’ groups, and other peoples’
                movements.
            </p>
            <p>
                An integral part of the autonomous women's movement in India, Saheli continues today as a non-funded
                feminist
                collective, working on volunteer power, individual donations, the solidarity of friends and supporters,
                and
                of
                course, the strength of our convictions. We believe our work contributes towards the creation of an
                egalitarian
                society where women and men can live with courage, justice and hope.
            </p>
            <p>
                Through this website we share our archive of articles, debates, publications, presentations and images
                from
                a
                range of campaigns and concerns spanning almost three decades.
            </p>
        </div>
    </div>
    <div>
        <app-article-slider></app-article-slider>
    </div>
</div>