.home-text-wrapper {
    display: flex;
    justify-content: center;

    .home-text {
        padding: 80px 300px 50px 300px;
        font-weight: 400;
        max-width: 75%;
        text-align: start;
        line-height: 22px;

        p {
            padding: 0px 24px;
        }
    }
}