
$dark-purple: #5c2d91;
$light-purple: #ae84e8;
$secondary-purple: #a87be6;
$white: #fff;
$primary-gold: #e4b752;
$primary-border: #9f9f9f;
$overlay-color-1: #e0ad39;
$overlay-color-2: #efd59b;
$gold-text: #c1a32d;
$grey-1: #656565;
$grey-2: #666666;
$article-pink: #f2287f;
$light-pink: #ee94bb;
$secondary-light-pink: #ffecf4;