.article-summary-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    animation: fadeIn 0.3s ease-in;

    .article-title {
        text-transform: uppercase;
        color: #5c2d91;
        // padding-top: 5px;
        font-weight: 500;
    }

    .article-title,
    .article-subtitle,
    .article-date {
        padding-bottom: 10px;
    }

    .article-subtitle {
        color: #333;
    }


    .article-date {
        color: #808080;
    }
}

.article-summary-wrapper:hover {
    cursor: pointer;

    .article-title {
        text-decoration: underline;
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

