<div class="article-summary-wrapper" (click)="navigateToArticle(articleSummary?.id)">
    @if (articleSummary?.title) {
        <span [ngClass]="currentLang === 'en' ? 'article-title' : 'article-title hi'"> {{$any(articleSummary?.title)[currentLang] ?? ''}} </span>
    }
    @if (articleSummary?.subtitle) {
        <span [ngClass]="currentLang === 'en' ? 'article-subtitle' : 'article-subtitle hi'"> 
            @if (currentLang === 'en') {
                {{$any(articleSummary?.subtitle)[currentLang] ?? '' | customCapitalize }} 
            } @else {
                {{$any(articleSummary?.subtitle)[currentLang] ?? ''}} 
            }
        </span>
    }
    <span [ngClass]="currentLang === 'en' ? 'article-date' : 'article-date hi'"> {{$any(articleSummary?.publishedDate)[currentLang] ?? ''}} </span>
</div>
