<div class="article-summary-wrapper" (click)="navigateToArticle(articleSummary?.id)">
    @if (articleSummary?.title) {
        <span class="article-title"> {{$any(articleSummary?.title)[currentLang] ?? ''}} </span>
    }
    @if (articleSummary?.subtitle) {
        <span class="article-subtitle"> 
            @if (currentLang === 'en') {
                {{$any(articleSummary?.subtitle)[currentLang] ?? '' | customCapitalize }} 
            }
        </span>
    }
    <span class="article-date"> {{articleSummary?.publishedDate}} </span>
</div>
