/* ========== Saheli-Themed Google List ========== */

.results-page {
    padding: 80px 14px 20px 14px;
    max-width: 760px;
    margin: auto;
}

.search-query-header {
    color: #c1a32d;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* ========== SPINNER ========== */

.loading-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.spinner {
    width: 28px;
    height: 28px;
    border: 3px solid #d8c8c0;
    border-top: 3px solid #734f43;
    border-radius: 50%;
    animation: spin .7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ========== RESULT ROWS ========== */

.row {
    padding: 18px 0px;
    border-bottom: 1px solid #e2d8d4;
    cursor: pointer;
    transition: background 0.15s ease;

    &:hover {
        .title {
            text-decoration: underline;
        }
    }

    .meta {
        font-size: 14px;
        color: #7a6f6f;
        margin-bottom: 4px;
    }

    .title {
        text-transform: uppercase;
        color: #5c2d91;
        padding-top: 5px;
        font-weight: 400;
        margin-bottom: 5px;
    }

    .subtitle {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .snippet {
        font-size: 14px;
        color: #4a4040;
        line-height: 1.6;
        // font-style: italic;
    }
}

::ng-deep .title mark {
  background-color: transparent !important;
  color: #5c2d91 !important;
  font-weight: 700;
}

::ng-deep .subtitle mark {
  background-color: transparent !important;
  font-weight: 700;
}

::ng-deep .snippet mark {
  background-color: transparent !important;
  color: #4a4040 !important;
  font-weight: 700;
}

/* ========== PAGER ========== */

.pager {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 40px;

    .number {
        padding: 6px 12px;
        border-radius: 4px;
        border: transparent;
        background: transparent;
        cursor: pointer;
        border-radius: 50%;
        color: #c1a32d;
        font-weight: 500;
        font-size: 16px;

        &:disabled {
            opacity: 0.5;
            cursor: default;
        }

        &.active {
            // background: #c1a32d;
            border: 2px solid #c1a32d;
            // color: white;
            font-weight: 500;
        }
    }

    .arrow {
        border: transparent;
        background: transparent;
        display: flex;
        align-items: center;
        color: #c1a32d;

        &:disabled {
            opacity: 0.5;
            cursor: default;
            border-color: transparent;
            background: transparent;
            display: flex;
            align-items: center;
        }
    }
}

.paged-results-wrapper {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;

  &.page-changing {
    opacity: 0;
  }
}