/* ========== Saheli-Themed Google List ========== */

.results-page {
    padding: 80px 14px 20px 14px;
    max-width: 760px;
    margin: auto;
    min-height: 50vh;
}

.search-query-header {
    color: #c8941a;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}

.no-results {
    min-height: 35vh;
    font-size: 18px;
    color: #5c2d91;
    font-weight: 500;
}

/* ========== SPINNER ========== */

.loading-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.spinner {
    width: 28px;
    height: 28px;
    border: 3px solid #d8c8c0;
    border-top: 3px solid #734f43;
    border-radius: 50%;
    animation: spin .7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ========== RESULT ROWS ========== */

.row {
    padding: 18px 0px;
    border-bottom: 1px solid #e2d8d4;
    transition: background 0.15s ease;

    .searched-row:hover {
        cursor: pointer;

        .title {
            text-decoration: underline;
        }
    }

    .meta {
        font-size: 14px;
        color: #7a6f6f;
        margin-bottom: 4px;
    }

    .title {
        text-transform: uppercase;
        color: #5c2d91;
        padding-top: 5px;
        font-weight: 400;
        margin-bottom: 5px;
    }

    .subtitle {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .snippet {
        font-size: 14px;
        color: #4a4040;
        line-height: 1.6;
        // font-style: italic;
    }
}

::ng-deep .title mark {
    background-color: transparent !important;
    color: #5c2d91 !important;
    font-weight: 700;
}

::ng-deep .subtitle mark {
    background-color: transparent !important;
    font-weight: 700;
}

::ng-deep .snippet mark {
    background-color: transparent !important;
    color: #4a4040 !important;
    font-weight: 700;
}

/* ========== PAGER ========== */
.pager {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 40px;
    user-select: none;

    button {
        border: none;
        background: transparent;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .number {
        min-width: 36px;
        height: 36px;
        padding: 0 12px;
        border-radius: 999px;
        font-size: 14px;
        font-weight: 500;
        color: #c8941a;
        font-weight: 600;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: rgba(193, 163, 45, 0.12);
        }

        &.active {
            background: #c8941a;
            color: #fff;
            box-shadow: 0 4px 10px rgba(193, 163, 45, 0.35);
        }

        &:disabled {
            opacity: 0.4;
            cursor: default;
        }
    }

    .arrow {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: #c1a32d;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover:not(:disabled) {
            background: rgba(193, 163, 45, 0.12);
            transform: scale(1.05);
        }

        &:disabled {
            opacity: 0.4;
            cursor: default;
            transform: none;
        }
    }
}

.ellipsis {
    min-width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c1a32d;
    font-size: 18px;
    pointer-events: none;
    opacity: 0.6;
}

/* ========== PAGER ========== */

.paged-results-wrapper {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;

    &.page-changing {
        opacity: 0;
    }
}

.tags-wrapper {
    display: flex;
    gap: 12px;
    margin: 10px 0px;
    flex-wrap: wrap;;

    .tag {
        border: 1px solid #f2287f;
        border-radius: 25px;
        padding: 7px;
        font-size: 12px;
        color: #f2287f;
        font-weight: 500;
        transition: transform 0.25s ease;
        display: flex;
        align-items: center;
    }

    .tag:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }
}