// General Styling starts
a {
  color: #c866ab;
  // color: #A05289;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.2s ease;
}

a:hover {
  // color: #c866ab;
  color: #A05289;
  text-decoration-line: underline;
  text-decoration-style: dashed;
}

a:active {
  opacity: 0.8;
}

.no-top-margin {
  margin-top: 0 !important;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.light-img-border {
  border: 1px solid #D6D6D6;
}

// General Styling ends


.image-text {
  display: flex;
  gap: 16px;
  margin: 16px 0;
  align-items: flex-start;
}

.image-text.left .image {
  order: 1;
}

.image-text.left .text {
  order: 2;
}

.image-text.right .image {
  order: 2;
}

.image-text.right .text {
  order: 1;
}

.image-text .image {
  width: 180px;
  flex-shrink: 0;
}

.image-text img {
  width: 100%;
  display: block;
}

.credit {
  display: inline-block;
  font-size: 12px;
  color: #f2287f;
  margin-top: 4px;
  text-decoration: none;
}

/* PARAGRAPH */
.article-paragraph {
  margin-top: 16px;
  line-height: 1.4;
  font-size: 16px;
}

/* QUOTE */
.article-quote {
  // border-left: 4px solid #f2287f;
  // padding-left: 12px;
  margin: 20px 0;
  font-style: italic;
  color: #444;
}

/* IMAGE FULL WIDTH */
.article-image {
  margin: 24px 0;
}

.article-image img {
  width: 100%;
  border-radius: 6px;
}

.article-subheading {
  font-size: 18px;
  color: #ae84e8;
  font-weight: 500;
  margin: 24px 0 8px 0;
}

.article-poetry {
  margin: 5px;
}

.article-poetry-author {
  font-style: italic;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid hotpink;
  vertical-align: super;
  margin-left: 4px;
  cursor: pointer;
}

.flex-display {
  display: flex;
}

.neg-margin-left-2 {
  margin-left: -2px;
}

.paragraph-combo {
  line-height: 1.4;
  margin-bottom: 24px;
}

.banner-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;

  .banner-image-block {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 950px;
  }
}

.ml-5 {
  margin-left: 5px;
}

.li-link {
  text-decoration: none;
  line-height: 1.4;
}

.custom-yellow-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #cccc;
  padding: 10px 20px;
  background: #f5f2e1;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 24px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.round-border {
  border-radius: 10px;
}

.h-250 {
  height: 250px;
}

.h-200 {
  height: 200px;
}

.image-combo {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  margin: 24px 0;

  .image-combo-item {
    display: flex;
    flex-direction: column;
    width: 35%;

    img {
      width: 100%;
    }
  }
}

.fw-bold {
  font-weight: 700;
}

.fw-light-bold {
  font-weight: 400;
}

.fs-italic {
  font-style: italic;
}

.pullquote-wrapper {
  // border: 1px solid red;
  display: flex;
  align-items: center;

  .pullquote-image {
    img {
      max-width: 200px;
      margin-right: 16px;
    }
  }
}

.pullquote {
  display: flex;
  align-items: flex-start;

  .quote {
    font-size: 200px;
    // color: #f2287f;
    color: #ae84e8;
    height: 100px;
    font-family: sans-serif;
  }

  .quote-text {
    font-size: 22px;
    margin-top: 60px;
    color: #656565;
    ;
  }
}

.lightbox {
  color: #f2287f;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  cursor: pointer;
  font-weight: 400;
}


.dictionary-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  .dictionary-entry {
    font: 13px/1.4 Georgia, serif;
    max-width: 30%;
    padding: 8px 10px;
    background: #fafafa;
    border-left: 3px solid #333;
    flex-grow: 1;

    .word {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 2px;
    }

    .part-of-speech {
      font-size: 12px;
      text-transform: uppercase;
      color: #444;
      margin-bottom: 4px;
    }

    .definition {
      font-size: 16px;
      color: #222;
    }
  }
}

.hide-marker {
  list-style: none;
  margin-left: -15px;
}


/********* Poetry design starts *********/

.poem-row {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
  align-items: flex-start;
}

.poem-row.left {
  flex-direction: row;
}

.poem-row.right {
  flex-direction: row;
}

.poem-block {
  flex: 1;
}

.stanza-image {
  width: 150px;
  height: auto;
}

.image-block.center {
  text-align: center;
  margin: 16px 0;
}

.image-block.center img {
  width: 200px;
}

/********* Poetry design ends *********/


.two-column-layout {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: flex-start;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.text-column {
  flex: 1;

  .title {
    font-weight: 500;
  }

  .poem {
    line-height: 1.8;
  }
}

.image-grid {
  flex: 1;
  display: grid;

  grid-template-areas:
    "square1 vertical"
    "square2 vertical"
    "horizontal horizontal";

  grid-template-columns: 1fr 1fr;
  gap: 12px;
  max-width: 400px;

  .grid-item {
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .square1 {
    grid-area: square1;
    aspect-ratio: 1 / 1;
  }

  .square2 {
    grid-area: square2;
    aspect-ratio: 1 / 1;
  }

  .vertical {
    grid-area: vertical;
    aspect-ratio: 3 / 5;
  }

  .horizontal {
    grid-area: horizontal;
    aspect-ratio: 5 / 3;
  }
}