<div class="category-wrapper">
    <div class="category-left-content">
        <div class="category-decade-wrapper">
            <div class="w-100">
                <app-header-lines [years]="categoryData?.decades ?? []" [selectedDecade]="selectedDecade"
                    (selectDecade)="onDecadeClick($event)"></app-header-lines>
            </div>
        </div>
    </div>

    @if (!viewByDecade) {
    @if (type === paramTypes.Article) {
    <div class="article-content">
        <span class="article-title">{{categoryData?.title}}</span>
        @if (categoryData?.subtitle) {
        <span class="article-subtitle">{{categoryData?.subtitle}}</span>
        }
        <div class="article-dates-wrapper">
            <div>{{categoryData?.publishedDate}}</div>
        </div>
        <div [innerHTML]="getSanitizedValue(categoryData?.value)" class="article-content-wrapper"></div>
    </div>
    } @else {
    <div class="category-content">
        <span class="category-name">{{categoryData?.title}}</span>
        <div class="category-description-wrapper">
            @for (item of categoryData?.description; track $index) {
            <span class="category-description">{{item}}</span>
            }
        </div>

        @if (categoryData?.subCategoryList?.length || categoryData?.innerCategories?.length ||
        categoryData?.articleList?.length) {
        <span class="category-article-heading">ARTICLES</span>
        }

        @if (categoryData?.subCategoryList?.length || categoryData?.innerCategories?.length) {
        <app-accordion [panels]="categoryData?.subCategoryList ?? categoryData?.innerCategories ?? []"></app-accordion>
        }

        @if (categoryData?.articleList?.length) {
        <div class="category-article-summary">
            @for (item of categoryData?.articleList; track $index) {
            <app-article-summary [articleSummary]="item"></app-article-summary>
            }
        </div>
        }

        @if (categoryData?.archiveImg) {
        <div class="archive-img-wrapper" [ngClass]="{'mt-5': !categoryData?.articleList?.length}">
            <span class="category-article-heading">Archive</span>
            <img [src]="categoryData?.archiveImg" width="300" height="300" />
        </div>
        }

        @if (categoryData?.archiveList?.length) {
        <div class="archive-list-wrapper">
            @for (item of categoryData.archiveList; track $index) {
            <div class="archive-wrapper">
                <img [src]="item.archiveImg" width="250" height="250" alt="">
                <span class="archive-title">{{item.title}}</span>
            </div>
            }
        </div>
        }
    </div>
    }
    } @else {
    <div class="category-content">
        <span class="category-name">{{categoryData?.title}} in {{selectedDecade}}</span>
        

        @if (decadeWiseArticleList.length) {
        <div class="category-article-summary">
            @for (item of decadeWiseArticleList; track $index) {
            <app-article-summary [articleSummary]="item"></app-article-summary>
            }
        </div>
        }

        @if (categoryData?.archiveImg) {
        <div class="archive-img-wrapper" [ngClass]="{'mt-5': !categoryData?.articleList?.length}">
            <span class="category-article-heading">Archive</span>
            <img [src]="categoryData?.archiveImg" width="300" height="300" />
        </div>
        }
    </div>
    }
    <div class="category-right-content">
    </div>
    <app-category-pop></app-category-pop>
</div>