.category-wrapper {
    display: flex;
    padding-top: 100px;


    .category-left-content {
        flex: .25;
        padding: 15px 10px 15px 0px;
        display: flex;
        flex-direction: column;

        .category-decade-wrapper {
            display: flex;
            height: 100%
        }
    }

    .category-content {
        flex: .5;
        display: flex;
        flex-direction: column;
        padding: 15px;

        .category-name {
            color: #c1a32d;
            font-size: 50px;
            font-weight: 400;
        }

        .category-description-wrapper {
            display: flex;
            flex-direction: column;
            padding: 30px 5px;

            .category-description {
                font-weight: 400;
                line-height: 25px;
                padding: 10px 0px;
                font-size: 16px;
            }
        }

        .category-article-summary {
            padding: 20px 0px;
        }
    }

    .category-right-content {
        flex: .25;

    }

    .article-content {
        flex: .5;
        display: flex;
        flex-direction: column;
        padding: 15px;
        .article-title {
            color: #c1a32d;
            font-size: 40px;
            font-weight: 400;
        }
        .article-subtitle {
            color: #666666;
            font-size: 20px;
            font-weight: 400;
            width: 60%;
            padding: 10px 0px;
        }
        .article-dates-wrapper {
            display: flex;
            justify-content: space-between;
            padding: 10px 0px;
            color: #a87be6;
            letter-spacing: .25px;
            font-weight: 500;;
        }
        .article-content-wrapper {
            padding: 20px 0px;
        }
    }
}

.archive-img-wrapper {
    display: flex;
    flex-direction: column;
}

.category-article-heading {
    color: #c1a32d;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 22px;
}

.archive-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .archive-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .archive-title {
            font-size: 16px;
            color: #5c2d91;
            padding: 5px 0px 25px 0px;
            font-weight: 500;
        }
    }
}

.archive-wrapper:hover {
    cursor: pointer;
    .archive-title {
        text-decoration: underline;
    }
}