.category-wrapper {
    display: flex;
    padding-top: 100px;


    .category-left-content {
        flex: .25;
        padding: 15px 10px 15px 0px;
        display: flex;
        flex-direction: column;

        .category-decade-wrapper {
            display: flex;
            height: 100%
        }
    }

    .category-content {
        flex: .5;
        display: flex;
        flex-direction: column;
        padding: 15px;

        .category-name {
            color: #c8941a;
            font-size: 50px;
            font-weight: 400;
        }

        .category-description-wrapper {
            display: flex;
            flex-direction: column;
            padding: 30px 5px;

            .category-description {
                font-weight: 400;
                line-height: 25px;
                padding: 10px 0px;
                font-size: 16px;
            }
        }

        .category-article-summary {
            padding: 0px 0px 10px 0px;
        }
    }

    .category-right-content {
        flex: .25;
        flex: 0.25;
        align-items: flex-end;
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .article-content {
        flex: .5;
        display: flex;
        flex-direction: column;
        padding: 15px;

        .article-title {
            color: #c8941a;
            font-size: 40px;
            font-weight: 400;
        }

        .article-subtitle {
            color: #666666;
            font-size: 20px;
            font-weight: 400;
            width: 90%;
            padding: 10px 0px;
            line-height: 30px;
        }

        .article-dates-wrapper {
            display: flex;
            justify-content: space-between;
            padding: 0px 0px 10px 0px;
            color: #a87be6;
            letter-spacing: .25px;
            font-weight: 500;
            ;
        }

        .article-content-wrapper {
            padding: 20px 0px;
            line-height: 22px;
        }
    }
}

.archive-img-wrapper {
    display: flex;
    flex-direction: column;
}

.category-article-heading {
    // color: #c1a32d;
    color: #c8941a;
    font-weight: 500;
    letter-spacing: 1.75px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 22px;
}

.archive-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .archive-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .archive-title {
            font-size: 16px;
            color: #5c2d91;
            padding: 5px 0px 25px 0px;
            font-weight: 500;
        }
    }
}

.archive-wrapper:hover {
    cursor: pointer;

    .archive-title {
        text-decoration: underline;
    }
}

.mt-10 {
  margin-top: 10px;
}

.see-more {
    background: transparent;
    border: none;
    color: #f2287f;
    padding: 0px;
    margin-bottom: 16px;
    font-size: 15px;
    letter-spacing: 1.25px;
}

.see-more:hover {
    text-decoration: underline;
    cursor: pointer;
}

.category-archive-img {
    margin-top: 15px;
}

.article-arrow-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;

    .arrow {
        border: none;
        border-radius: 50%;
        color: white;
        height: 30px;
        width: 30px;
        font-size: 20px;
        font-weight: 600;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .article-nav-text {
        color: #8c8c8c;
        font-weight: 400;
    }
}

.article-arrow-wrapper:hover {
    cursor: pointer;
}

.disable-nav {
    pointer-events: none;
    opacity: .5;
}

:host ::ng-deep .arrow-right svg {
  stroke-width: 3 !important;
}