<section class="accordion" role="tablist" aria-multiselectable="false">

    @if (panels.length) {
    <div class="panel" *ngFor="let p of panels">
        <button class="panel-header" 
            #headerBtn
            (click)="toggle(p.id, headerBtn)" 
            [attr.aria-expanded]="isOpen(p.id)"
            [attr.aria-controls]="'panel-body-' + p.id" id="{{'panel-header-' + p.id}}"
            [ngClass]="{'fw-heavy': p.id === openPanelId}"
             type="button">
            <span class="title">{{ p.title }} </span>

            <!-- chevron: down when closed, up when open -->
            <ng-icon class="chev thick" [name]="isOpen(p.id) ? 'heroChevronUp' : 'heroChevronDown'" size="18"
                aria-hidden="true"></ng-icon>
        </button>

        <div class="panel-body" id="{{'panel-body-' + p.id}}" role="region"
            [attr.aria-labelledby]="'panel-header-' + p.id" [class.open]="isOpen(p.id)">
            @if (p.innerCategories?.length) {
                <app-inner-accordion [panels]="p.innerCategories ?? []"></app-inner-accordion>
            }

            @for (item of visibleArticles(p.articleList); track $index) {
                <app-article-summary [articleSummary]="item" (navigateToArticleEvent)="navigateToArticle($event)"></app-article-summary>
            }

            @if (p.articleList.length > initialVisibilityCount && p.articleList.length > visibleCount) {
                <button class="see-more" (click)="loadMore()" [disabled]="p.articleList.length < visibleCount"><b>View More ></b></button>
            }
        </div>
    </div>
    }
</section>