.search-container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    position: relative;
}

.search-wrapper {
    position: relative;
    width: 100%;
}

.search-input {
    width: 250px;
    padding-right: 65px;
    height: 40px;
    padding-left: 15px;
    border-radius: 25px;

    // border: 1px solid rgba(255, 255, 255, 0.25);
    background: #233447; // deep blue-grey
    color: #fff;
    font-size: 14px;
    outline: none;
    transition: all 0.25s ease;

    // border-color: #e91e63; // pink accent
    border-color: #cbcbcb;
    box-shadow: 0 0 0 2px rgba(233, 30, 99, 0.15);
    border-top: #233447;
    border-width: 0 0 1px;

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
}

/* Clear button (X) */
.clear-btn {
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    color: rgba(255, 255, 255, 0.6);;
}

.clear-btn:hover {
    color: #ae84e8;
}

.search-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 8px 8px 9px 9px;
    display: flex;
    align-items: center;
    border-radius: 25px;

    color: #f2287f;
}

.search-btn:hover {
    color: #ae84e8;
}

.search-btn ng-icon {
    pointer-events: none;
}

