<div class="bg-primary">
    <img class="w-100" src="../../../../assets/footer/Group 1.png" alt="">
</div>
<div class="bg-primary font-white footer-wrapper">
    <div class="footer-info-left">
        <p>You are free to quote or use any materials from <br> our site, and it would be great to hear if you do.</p>
        <p class="fs-18">saheli women's resource centre. <br>
            above 105-108 defence colony flyover market, new delhi 110024 <br>
            connect with us at <a href="mailto:saheliwomen@gmail.com" class="font-white">saheliwomen&#64;gmail.com</a>
        </p>
    </div>
    <div class="footer-info-right">
        <p>
            @for (footerItem of footerLinkList; track $index) {
        <div class="footerLinkItem">
            <a (click)="navigate(footerLinkList[$index].routeLink, footerLinkList[$index].type)"
                class="font-white">{{footerItem.label}}</a>
        </div>
        }
        </p>
    </div>
</div>


<!-- SLIDE-UP PANEL -->
@if (showForm) {
<div class="backdrop"></div>
<div class="popup">
    <div class="popup-header">
        <button class="close-btn" (click)="closeForm()">×</button>
    </div>

    @if (loadingIframe) {
    <div class="iframe-loader">
        <div class="spinner"></div>
    </div>
    }

    @if (showIframe) {
    <iframe [src]="googleFormUrl" width="100%" height="650" frameborder="0" (load)="loadingIframe = false">
    </iframe>
    }

</div>
}